
<div class="am-form">

    <form id="spec_config" class="am-form-group">
        <label>当前外网服务IP（重要，影响木马工具的生成）</label>
        <input type="text" name="SERV_HOST" value="${config.SPEC['SERV_HOST']}">
        <p><button id="btn-spce-save" class="am-btn am-btn-secondary">保存</button></p>
    </form>

    <p><button id="btn-close-reg" class="am-btn am-btn-secondary">关闭注册</button></p>
    <p><button id="btn-open-reg" class="am-btn am-btn-secondary">重开注册</button></p>
</div>

<%block name="script">
<script>
    (function() {
        $("#btn-spce-save").click(function() {
            $.post("${url_for('j_admin_spec_save')}", $("#spec_config").serialize(), function() {alert("OK")});
        });

        $("#btn-close-reg").click(function() {
            $.post("${url_for('j_close_reg')}", function() {alert("OK")});
        });
        $("#btn-open-reg").click(function() {
            $.post("${url_for('j_open_reg')}", function() {alert("OK")});
        });
	})();
</script>
</%block>
