<div class="am-form" id="decode_box">

    <div class="am-form-group">
        <label for="dc_src">原文</label>
        <textarea id="dc_src" debounce="500" v-model="source"></textarea>
    </div>

    <div class="am-form-group">
        <label for="dc_b64">base64</label>
        <textarea id="dc_b64" debounce="500" v-model="base64"></textarea>
    </div>

    <div class="am-form-group">
        <label for="dc_hex">hex</label>
        <textarea id="dc_hex" v-model="hex"></textarea>
    </div>

    <div class="am-form-group">
        <label for="dc_hex2">hex2</label>
        <textarea id="dc_hex2" v-model="hex2"></textarea>
    </div>

    <div class="am-form-group">
        <label for="dc_utf7">utf7</label>
        <textarea id="dc_utf7" v-model="utf7"></textarea>
    </div>

    <div class="am-form-group">
        <label for="dc_quote">转义</label>
        <textarea id="dc_quote" v-model="quote"></textarea>
    </div>

    <div class="am-form-group">
        <label for="dc_mos">morse</label>
        <textarea id="dc_mos" v-model="morse"></textarea>
    </div>

    <div class="am-form-group">
        <label for="dc_md5">md5</label>
        <textarea id="dc_md5" v-model="md5"></textarea>
    </div>

</div>


<%block name="script">
<script>
    (function() {
        var the_data = {};
        var last_ret = {};
        var items = ["source", "base64", "hex", "hex2", "utf7", "quote", "md5", "morse"];

        $.mypost = function(self, url, key, val) {
            params = {}
            params[key] = val;
            $.post(url, params, function(ret) {
                if (ret.code == 0)
                    last_ret = ret;
                else
                    last_ret = {}
                for (var i in items) {
                    k = items[i];
                    if (k != key) self[k] = ret[k];
                }
            });
        }

        var demo = new Vue({
            el: '#decode_box',
            async: false,
            data: {
                source: the_data.source,
                base64: the_data.base64,
                hex: the_data.hex,
                hex2: the_data.hex2,
                utf7: the_data.utf7,
                quote: the_data.quote,
                morse: the_data.morse,
                md5: the_data.md5,
            },
            watch: {
                source: function (val, oldVal) {
                    key = "source";
                    if (val != last_ret[key]) {
                        $.mypost(this, "${ url_for('j_encode_source') }", key, val);
                    }
                },
                base64: function (val, oldVal) {
                    key = "base64";
                    if (val != last_ret[key]) {
                        $.mypost(this, "${ url_for('j_encode_base64') }", key, val);
                    }
                },
                hex: function (val, oldVal) {
                    key = "hex";
                    if (val != last_ret[key]) {
                        $.mypost(this, "${ url_for('j_encode_hex') }", key, val);
                    }
                },
                hex2: function (val, oldVal) {
                    key = "hex2";
                    if (val != last_ret[key]) {
                        $.mypost(this, "${ url_for('j_encode_hex2') }", key, val);
                    }
                },
                utf7: function (val, oldVal) {
                    key = "utf7";
                    if (val != last_ret[key]) {
                        $.mypost(this, "${ url_for('j_encode_utf7') }", key, val);
                    }
                },
                quote: function (val, oldVal) {
                    key = "quote";
                    if (val != last_ret[key]) {
                        $.mypost(this, "${ url_for('j_encode_quote') }", key, val);
                    }
                },
            },
        })
	})();
</script>
</%block>
